<!-- Page Content -->
<div class="container">
    <!-- Page Heading -->
    <!-- /.row -->
  <div class="container">
    <ul class="nav nav-tabs">
      <li class="active" id="one"><%= link_to 'Latest Events', list_event_path, remote: true %></li>
        <% if current_user != nil %>
          <li id="two"><%= link_to 'Recommended Events', recommend_event_path, remote: true %></li>
          <li id="three"><%= link_to 'My Events', myevents_path, remote: true %></li>
        <% end %>
    </ul>
  </div>
    <div class="container" id="test">
      <%= render 'event' %>
    </div>
    <!-- Project One -->

    <!-- /.row -->


    <!-- Project Five -->

    <!-- Pagination -->
    <div class="row text-center">
        <div class="col-lg-12">
            <ul class="pagination">
                <li>
                    <a href="#">&laquo;</a>
                </li>
                <li class="active">
                    <a href="#">1</a>
                </li>
                <li>
                    <a href="#">2</a>
                </li>
                <li>
                    <a href="#">3</a>
                </li>
                <li>
                    <a href="#">4</a>
                </li>
                <li>
                    <a href="#">5</a>
                </li>
                <li>
                    <a href="#">&raquo;</a>
                </li>
            </ul>
        </div>
    </div>
    <!-- /.row -->

    <hr>

    <!-- Footer -->
    <footer>
        <div class="row">
            <div class="col-lg-12">
                <p>Copyright &copy; Your Website 2014</p>
            </div>
        </div>
        <!-- /.row -->
    </footer>

</div>
